
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.6"></script><!--HTMX-->
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script><!--HTMX Websocket-->
    <link href="/dist/output.css" rel="stylesheet"><!--Tailwind-->
    <style>
        .chess-board { border-spacing: 0; border-collapse: collapse; }
        .chess-board th { padding: .5em; }
        .chess-board td { border: 1px solid; width: 2em; height: 2em; }
        .chess-board .light { background: #eee; }
        .chess-board .dark { background: #000; }
    </style><!--Temporal CSS-->
    <title>Chess Kaisen</title>
</head>
<body>
    {{template "username-form.html"}}
</body>
</html>