<div>
  <div>
    <div>
      <label>Welcome {{ .White.Username}}!</label><br/>
      <label>Your color is {{ .White.Color}}!</label><br/>
    </div>
    <button hx-get="/username-form/" class="btn">Cancel</button>
  </div>
  {{if .Black.Username}} 
    {{template "board.html"}}
    <label>Welcome {{ .Black.Username}}!</label><br/>
    <label>Your color is {{ .Black.Color}}!</label><br/>
  {{else}}
    {{template "board.html"}}
    <label>Welcome {{ .Black.Username}}!</label><br/>
    <label>Your color is {{ .Black.Color}}!</label><br/>
  {{end}}
</div>